@import "./variables.css";

/*--------*/
/* Layout */
/*--------*/

body {
	background-color: var(--grey);
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	margin: 0;
}

h1 {
	margin-top: 0;
}

.app {
	background-color: var(--grey);
	height: auto;
	overflow: hidden;
	font-size: var(--layout-font);
}

/*--------*/
/* Header */
/*--------*/

.header {
	margin: 0 auto;
	width: var(--layout-percentage);
	max-width: var(--layout-pixels);
	height: auto;
	color: var(--white);
	font-weight: 900;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 1rem;
}

.header-title {
	color: var(--white);
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	width: auto;
}

.header-button {
	display: flex;
	color: var(--white);
	padding: var(--button-padding);
	height: auto;
	display: inline-block;
	transition-duration: 0.2s;
	background-color: var(--grey);
	border: 2px solid var(--red);
	border-radius: var(--panel-corners);
	margin-right: var(--button-margin);
	font-size: 90%;
}

.header-button:hover {
	background: var(--red);
}

/*--------*/
/* Footer */
/*--------*/

.footer {
	position: initial;
	width: 100%;
	height: auto;
}

.footer-content {
	display: flex;
	align-items: center;
	margin: 0 auto;
	padding-top: var(--footer-spacing);
	height: 10rem;

	background-color: var(--red);
}

.footer-title {
	color: var(--white);
}

.footer-button {
	color: var(--white);
	height: 100%;
	display: flex;
	transition-duration: 0.2s;
	background-color: var(--black);
	border: 2px solid var(--blue);
	border-radius: var(--button-corners);
	margin: 0 auto;
	padding-right: 16px;
	padding-left: 16px;
	text-align: center;
	justify-content: center;
}

.footer-button:hover {
	background: var(--blue);
}

/*------*/
/* Sexy */
/*------*/

.sexy-button {
	display: flex;
	color: #000000;
	margin: 4px 2px;
	padding: 15px 32px;
	display: inline-block;
	transition-duration: 0.2s;
	background-color: #ffffff;
	border: 2px solid linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
	border-radius: var(--button-corners);
}

.sexy-button:hover {
	background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
	color: white;
}

/*----------*/
/* Elements */
/*----------*/

.panel {
	height: auto;
	margin: 0 auto;
}

.title {
	background-color: rgb(0,0,0);
	width: 100px;
	height: 50px;
	position: fixed;
	align-items: center;
}

/*----------*/
/* Etc */
/*----------*/

.info {
	width: var(--layout-percentage);
	align-items: center;
	margin: 0 auto;
	height: auto;
	padding-bottom: 50px;
}

/*-------------*/
/* Description */
/*-------------*/

.description {
	margin: 0 auto;
	width: var(--layout-percentage);
	max-width: var(--layout-pixels);
}

.description-title {
	text-align: center;
	font-weight: 900;
	color: var(--white);
	margin: 0 auto;
	align-items: center;
	padding-top: 100px;
}

.description-content {
	text-align: center;
	font-weight: 0;
	color: var(--light);
	margin: 0 auto;
	align-items: center;
	padding-top: 12px;
}

/*--------*/
/* Avatar */
/*--------*/

.avatar {
	padding-top: 50px;
	padding-bottom: 40px;
	margin: 0 auto;
	align-items: center;
	text-align: center;
}

.avatar-img {
	border-radius: 50%;
	height: 300px;
	width: 300px;
}

.avatar-title {
	padding-top: 0px;
	font-weight: 0;
	color: var(--red);
}

/*-------*/
/* About */
/*-------*/

.about {
	background-color: var(--red);
	width: var(--layout-full);
	align-items: center;
	margin: 0 auto;
	height: auto;
	padding-bottom: 40px;
}

.about-content {
	margin: 0 auto;
	width: var(--layout-percentage);
	max-width: var(--layout-pixels);
	height: auto;
	align-items: center;
	text-align: center;
	padding-bottom: 5px;
}

.about-title {
	padding-top: 50px;
	margin-bottom: 0;
	color: var(--white);
}

.about-hint {
	margin-top: 0;
	color: var(--white);
}

.about-body {
	color: var(--white);
}

/*--------*/
/* Skills */
/*--------*/

.skills {
	color: var(--white);
	height: auto;
	max-width: var(--layout-pixels);
	align-items: center;
	text-align: center;
	margin: 0 auto;
	padding-top: var(--layout-spacing);
	padding-bottom: var(--layout-spacing);
}

.skills-container {
	background-color: var(--dark);
	border-radius: var(--panel-corners);
	align-items: center;
	width: var(--layout-percentage);
	height: auto;
	margin: 0 auto;
	text-align: center !important;
}

.skills-content {
	width: auto;
	height: auto;
	padding-left: var(--panel-padding);
	padding-right: var(--panel-padding);
	padding-top: calc(var(--panel-padding) * 2);
	padding-bottom: calc(var(--panel-padding) * 2);
	justify-content: center;
	display: flex;
}

.skills-column {
	height: auto;
	flex-grow: 3;
	flex-basis: 0;
	width: 0%;
	top: 0;
}

.skills-title {
	color: var(--white);
	margin: 0;
	flex-grow: 3;
	flex-basis: 0;
}

.skills-body {
	color: var(--white);
	margin: 0;
	flex-grow: 3;
	flex-basis: 0;
	padding-left: 1rem;
	padding-right: 1rem;
}

.skills-img {
	width: 4.5rem;
	padding-bottom: var(--panel-padding);
	flex-grow: 3;
	flex-basis: 0;
}

.skills-head {
	padding-top: 30px;
	color: var(--red);
	margin: 0;
	flex-grow: 3;
	flex-basis: 0;
}

.skills-list {
	list-style: none;
	padding: 0;
	margin-bottom: 0;
	flex-grow: 3;
	flex-basis: 0;
}

/*--------------*/
/* Testimonials */
/*--------------*/

.testimonials {
	background-color: var(--red);
	width: var(--layout-full);
	align-items: center;
	margin: 0 auto;
	height: auto;
	padding-bottom: 40px;
}

.testimonials-content {
	margin: 0 auto;
	width: var(--layout-percentage);
	max-width: var(--layout-pixels);
	height: auto;
	align-items: center;
	text-align: center;
	padding-bottom: 5px;
}

.testimonials-title {
	padding-top: 50px;
	color: var(--white);
	margin-bottom: 0;
}

.testimonials-body {
	color: var(--white);
	margin-top: 0;
}

.testimonials-carousel {
	padding-top: 30px;
}

.testimonials-item {
	width: 100%;
	max-width: var(--testimonails-pixels);
	height: 100%;
}

.testimonials-avatar {
	border-radius: 50%;
	height: 150px;
	width: 150px;
	margin-bottom: 26px;
}

.testimonials-header {
	color: var(--white);
	margin-bottom: 0;
}

/*------*/
/* Work */
/*------*/

.work {
	color: var(--white);
	width: var(--layout-percentage);
	max-width: var(--layout-pixels);
	height: auto;
	text-align: center;
	margin: 0 auto;
	margin-bottom: var(--layout-spacing);
	margin-top: var(--layout-spacing);
}

.work-container {
	background-color: var(--dark);
	border-radius: var(--panel-corners);
	align-items: center;
	width: var(--layout-percentage);
	justify-content: center;
	height: auto;
	margin: 0 auto;
	display: flex;
}

.work-content {
	width: 100%;
	height: 100%;
	padding: 2rem;
}

.work-header {
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: auto;
	display: flex;
	text-align: center !important;
}

.work-title {
	margin: 0;
}

.work-img {
	width: 100%;
	max-width: 250px;
	height: auto;
}

.work-info {
	text-align: left;
	height: auto;
}

.work-date {
	margin-bottom: 0;
}

/*----------*/
/* Carousel */
/*----------*/

.rec.rec-arrow {
    border-radius: 50%;
}

.rec.rec-arrow {
    visibility: hidden;
}

.rec.rec-arrow:hover {
	background-color: white !important;
}

.rec.rec-carousel-item:focus {
	background-color: var(--white) !important;
}

.rec.rec-dot {
	background-color: none !important;
	box-shadow: none !important;
	border: 2px solid var(--white);
	padding: 0 !important;
	height: 16px !important;
	width: 16px !important;
}

.rec.rec-dot:hover {
	background-color: white !important;
}

.rec.rec-dot_active {
	background-color: white !important;
	padding: 0 !important;
	height: 16px !important;
	width: 16px !important;
}

/*---------------*/
/* Media Queries */
/*---------------*/

@media only screen and (max-width: 600px) {
	.header {
		flex-direction: column;
	}

	.header-button {
		
	}

	.skills-content {
		flex-direction: column;
	}

	.skills-column {
		width: auto;
		margin-bottom: var(--column-padding);
		margin-top: var(--column-padding);
	}

	.work-header {
		flex-direction: column;
	}
}