/* .button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
} */

/* body {
	background-image: url(../images/bg.png);
	background-repeat: repeat;
    background-attachment: fixed;
	background-size: 25%;
	background-color: #1e1e1e;
} */

@import "./variables.css";

/*--------*/
/* Layout */
/*--------*/

body {
	background-color: #36393F;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*--------*/
/* Footer */
/*--------*/

.footer {
	position: initial;
	right: 0px;
    left: 0px;
    bottom: 0;
	width: 100%;
	height: var(--footer);
	color: var(--white);
	font-size: large;
	background-color: #202225;
	/*box-shadow: 0px 0px 2px 2px #292B2F;*/
}

.footer-content {
	display: flex;
	align-items: center;
	margin: 0 auto;
	width: 100%;
	max-width: 1000px;
	padding-top: var(--footer-spacing);
	height: var(--footer-buttons);
}

.footer-button {
	font-size: 16px;
	color: var(--white);
	height: 100%;
	display: inline-block;
	transition-duration: 0.2s;
	background-color: #202225;
	border: 2px solid #1DA1F2;
	border-radius: 8px;
	margin: 0 auto;
	padding-right: 16px;
	padding-left: 16px;
	text-align: center;
	justify-content: center;
	/*margin-bottom: 20px;*/
	/*margin-left: var(--button-padding);*/
}

.footer-button:hover {
	background: #1DA1F2;
}

/*---------*/
/* Buttons */
/*---------*/

.sexy-button {
	display: flex;
	font-size: 16px;
	color: #000000;
	margin: 4px 2px;
	padding: 15px 32px;
	display: inline-block;
	transition-duration: 0.2s;
	background-color: #ffffff;
	border: 2px solid linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
	border-radius: 8px;
}

.sexy-button:hover {
	background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
	color: white;
}

.header-button {
	display: flex;
	font-size: 16px;
	color: var(--white);
	padding: 12px;
	height: 100%;
	display: inline-block;
	transition-duration: 0.2s;
	background-color: #36393F;
	border: 2px solid var(--red);
	border-radius: 8px;
	margin-left: var(--button-padding);
}

.header-button:hover {
	background: var(--red);
}

/*----------*/
/* Elements */
/*----------*/

.app {
	background-color: #36393F;
	height: auto;
	overflow: hidden;
	display: flex;
	/*width: 100%;
	height: 100%;
	object-position: 5px 10%;*/
}

.panel {
	/*background-color: #2F3136;*/
	/* width: 100%;
	max-width: 1000px; */
	height: auto;
	margin: 0 auto;
}

.title {
	background-color: rgb(0,0,0);
	width: 100px;
	height: 50px;
	position: fixed;
	align-items: center;
}

.header {
	margin: 0 auto;
	width: 100%;
	max-width: 1000px;
	height: var(--header);
	color: var(--white);
	font-size: 32px;
	font-weight: 900;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-title {
	color: var(--white);
	font-size: 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	/*text-align: center;*/
}

.info {
	width: 100%;
	align-items: center;
	margin: 0 auto;
	height: 50vh;
}

.about {
	background-color: var(--red);
	width: 100%;
	align-items: center;
	margin: 0 auto;
	height: 50vh;
}

.description {
	margin: 0 auto;
	width: 100%;
	max-width: 1000px;
}

.description-title {
	text-align: center;
	font-size: 36px;
	font-weight: 900;
	color: var(--white);
	margin: 0 auto;
	align-items: center;
	padding-top: 5vh;
}

.description-content {
	text-align: center;
	font-size: 18px;
	font-weight: 0;
	color: var(--grey);
	margin: 0 auto;
	align-items: center;
	padding-top: 12px;
}

.avatar {
	padding-top: 5vh;
	margin: 0 auto;
	align-items: center;
	text-align: center;
}

.avatar-img {
	border-radius: 50%;
	height: 35%;
	width: 35%;
}

.avatar-title {
	padding-top: 5vh;
	font-size: 50px;
	font-weight: 0;
	color: var(--red);
}