@import "./variables.css";

body {
	margin: 0;
	border: 0;
	background: var(--primary-dark);
	align-items: center;
	font-family: var(--font), var(--fallback-font);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: var(--text-dark);
}

img {
	vertical-align: top;
}

.page {
	margin-left: 10px;
	margin-right: 10px;
}

.document {
	max-width: 700px;
	margin: 0 auto;
}

.accent {
	margin: 0 auto;
	width: 100%;
	height: 8px;
	background: var(--gradient-triple);
}

.card-align {
	text-align: center;
}

.space {
	padding-bottom: 12px;
}

.gap {
	padding-bottom: 8px;
}

.pillow {
	padding: 16px;
}

.pillow-soft {
	padding: 8px;
}

.corner {
	border-radius: 6px;
}

.corner-img {
	border-radius: 6px 6px 0 0;
}

.corner-card {
	border-radius: 6px 0 0 6px;
}

.corner-left {
	border-radius: 6px 0 0 6px;
}

.corner-circle {
	border-radius: 100%;
}

.card {
	width: 100%;
	height: auto;
	background: var(--secondary-dark);
	/* outline: solid 1px var(--outline-dark); */
}

.card-banner {
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.card-img {
	object-fit: cover;
	width: 100%;
	transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* .card-btn {

} */

.card-img:hover {
	transform: scale(1.1);
	box-shadow: 0 6px 40px rgba(0,0,0,0.75);
}

.card-details {
	width: 100%;
	height: 250px;
}

.card-pfp {
	height: 150px;
	width: 150px;
	margin: -80px auto 0 auto;
	border: 6px solid var(--secondary-dark);
	z-index: 100;
	position: relative;
	background: var(--secondary-dark);
}

.card-flag {
	z-index: 0;
}

.card-header {
	text-align: center;
	padding-bottom: 20px;
}

.grid {
	width: 100%;
	display: grid;
	grid-template-columns: calc(50% - 6px) calc(50% - 6px);
	grid-column-gap: 12px;
	grid-row-gap: 12px;
}

.list {
	width: 100%;
	display: grid;
	grid-template-columns: calc(50% - 4px) calc(50% - 4px);
	grid-column-gap: 12px;
	grid-row-gap: 12px;
}

.scroll {
	width: 100%;
	display: grid;
	grid-template-columns: calc(10% - 4px) calc(10% - 4px);
	grid-column-gap: 12px;
	grid-row-gap: 12px;
	
}

.limit {
	height: 150px;
	display: flex;
}

.limit-img {
	object-fit: cover;
	height: 100%;
	margin-right: 8px;
}

.limit-btn {
	object-fit: cover;
	height: 100%;
	transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.limit-btn:hover {
	transform: scale(1.1);
	box-shadow: 0 6px 40px rgba(0,0,0,0.75);
}

.title {
	color: var(--text-dark);
	text-transform: capitalize;
}

.title-text {
	margin-left: 8px;
	padding-bottom: 4px;
	padding-top: 4px;
	width: auto;
	/* background: linear-gradient(to left, var(--gradient1), var(--gradient2)); */
	/* -webkit-background-clip: text;
	-webkit-text-fill-color: transparent; */
	color: var(--text-dark);
}

.left-align {
	text-align: left;
}

.temp {
	display: flex;
}

.btn {
	cursor: pointer;
	text-decoration: none;
}

.pad {
	padding-right: 8px;
}

.contact {
	height: auto;
	width: auto;
	display: grid;
	align-content: center;
	align-items: center;
	grid-template-columns: repeat(5, calc(20% - 10px) calc(20% - 10px));
	grid-column-gap: 12px;
	grid-row-gap: 12px;
}

.entry {
	display: flex;
	background: var(--gradient-double);
	align-items: center;
	width: 100%;
	height: 100%;
}

.application {
	aspect-ratio: 1 / 1;
	display: flex;
	background: var(--gradient-double);
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.application:hover {
	transform: scale(1.1);
	box-shadow: 0 6px 40px rgba(0,0,0,0.75);
}

.application-button {
	display: flex;
	width: 100%;
	height: 100%;
	object-fit: fill;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}

.application-btn {
	display: flex;
	width: 100%;
	height: 100%;
	object-fit: fill;
	align-items: center;
	text-decoration: none;
}

.application-img {
	width: 100%;
	max-width: 80%;
}

@media only screen and (max-width: 700px) {
	.limit {
		display: inline-table;
	}

	.limit-img {
		width: 100%;
		height: 100px;
	}

	.pad {
		padding: 8px;
	}

	.corner-card {
		border-radius: 8px 8px 0 0;
	}

	.list {
		width: 100%;
		display:  inline-table;
		height: 100%;
	}

	.entry {
		margin-bottom: 8px;
	}
}
