:root{
    --primary: #FFFFFFFF;
    --secondary: #B7B7B7; /* 70% of primary */
    --optional: #888888; /* 50% of primary */

    --button-padding: 0.8rem;
    --button-margin: 0.8rem;
    --button-fallback: 0.2rem;

    --footer-spacing: 1rem;

    --header: 3.2rem;
    --header-pad: 24px;

    --white: #FFFFFF;
    --light: #C6C6C6;
    --grey: #121212;
    --dark: #232323;
    --black: #202225;
    --red: #a20f0f;
    --blue: #1DA1F2;

    --layout-full: 100%;
    --layout-percentage: calc(100% - 20px);
    --layout-pixels: 1000px;

    --layout-spacing: 6rem;

    --testimonails-pixels: 500px;

    --panel-corners: 8px;
    --button-corners: 1rem;

    --panel-padding: 2rem;
    --column-padding: 1rem;

    --layout-font: 100%;

    --shadow: #000000;
    --shadow-size: 4px;
    --shadow-blur: 8px;
    --shadow-offset-v: 4px;
    --shadow-offset-h: 0px
}