:root{
    --button-padding: 0.8rem;
    --button-margin: 0.4rem;

    --footer: 5rem;
    --footer-buttons: 6rem;
    --footer-spacing: 1rem;

    --header: 3.2rem;
    --header-pad: 24px;

    --white: #FFFFFF;
    --light: #C6C6C6;
    --grey: #36393F;
    --dark: #292B2F;
    --black: #202225;
    --red: #FF2B2E;
    --blue: #1DA1F2;

    --layout-full: 100%;
    --layout-percentage: calc(100% - 20px);
    --layout-pixels: 1000px;

    --layout-spacing: 6rem;

    --testimonails-pixels: 500px;

    --panel-corners: 8px;
    --button-corners: 1rem;

    --panel-padding: 2rem;
    --column-padding: 1rem;

    --layout-font: 100%;
}